<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanNews.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CleanNewsFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CleanNewsiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>761A2A1D29630C02001CDDC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761A2A2429630C03001CDDC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763FD87229B68EA4000EADF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763FD87929B68EA4000EADF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764F248029B78552006FA506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764F248729B78552006FA506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7669ED6628A520FE001385B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7669ED7628A520FF001385B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7669ED8028A520FF001385B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76911F3329B2925E006BB655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76911F3A29B2925E006BB655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769D2A5329B783E30068DC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769D2A5A29B783E40068DC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769EBFB129B78BAB00D0E8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769EBFB829B78BAB00D0E8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D5C8D429B28EC300E0FE1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D5C8DB29B28EC300E0FE1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
